@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

/* heading content font link  */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');


/* c-content font link  */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&family=Hina+Mincho&display=swap');

/* span content font link  */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');



body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: #000;
}

/* ~~~~~~~~~~~~~~   navbar ~~~~~~~~~~~~~~~ */
#navbar{
    background: #000;
    height: 10vh;
}

#navbar .navbar-toggler{
    background: #fff;
    color: #000;
}

#navbar .navbar-brand{
    color: #fff;
    font-size: 3rem ;
    margin: 20px 20px;
    padding: 0;
    /* margin: 0; */
    font-family: 'Grechen Fuemen', cursive;
}

#navbar .navbar-nav .nav-item .nav-link{
    text-align: center;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;
    margin: 20 0px;
    padding: 0 30px;
}

.nav-link::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
    background-color: aliceblue;
	transition: width .5s;
    color: #fff;
}

.nav-link:hover::after
{
	width: 100%;
	transition: width 1s;
}



/* ~~~~~ img section ~~~~~ */
#bg-img{
    background-image: url('img/03.jpg');
    width: 100%;
    height: 90vh;
    background-size: cover;
    opacity: 1.5;
    background-color: black;
}

/* ~~~~~ text in image ~~~~~ */
#text-one{
    background-color: rgb(0, 0, 0);
    width: 400px;
    height: auto;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-left: 50px; */
}

.span::before{
    content: '';
    animation: animate infinite 12s;
}

@keyframes animate{
    0%{
        content: 'Web Devloper ...  ';
        animation-duration: 2s;
        transition: 2s;
    }

    20%{
        content: 'Video Editer ...';
        animation-duration: 2s;
        transition: 1s;
    }

    40%{
        content: 'Phototgrapher ...';
        animation-duration: 2s;
        transition: 1s;
    }

    80%{
        content: 'Writter ...';
        animation-duration: 2s;
        transition: 1s;
    }

    100%{
        content: 'Dog Whisperer ...';
        animation-duration: 2s;
        transition: 1s;
    }
}

#text-one p{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

.text-one-a{
    font-size: 1.8rem;
    flex: 0 1 400px;
}

.text-one-b{
    font-size: 1.8rem;
    width: auto;
    flex: 0 1 400px;
    background: linear-gradient(90deg,#00dbde,#fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
}

.span{
    font-family: 'Aclonica', sans-serif;
    color: #fff;
    font-size: 2.5rem;
}

@media screen and (max-width: 600px) {
    text-one{
        width: 100px;
    }
    
    .text-one-a{
        font-size: 1rem;
        flex: 0 1 300px;
        margin-left: 50px;
    }
    
    .text-one-b{
        font-size:1rem;
        width: auto;
        flex: 0 1 300px;
        background: linear-gradient(90deg,#00dbde,#fc00ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent ;
    }
    
    .span{
        font-family: 'Aclonica', sans-serif;
        font-size: 1.7rem;
    }
}
/* ~~~~~ about me ~~~~~ */
.container{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.container h2{
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
}

.row{
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}
.row h4{
    font-family: 'Bebas Neue', cursive;
    /* padding: 20px; */
}

.col-one{
    height: 500px;
    text-align: justify;
    padding: 30px;
    font-family: 'Hina Mincho', serif;
    font-size: 1.2rem;
    flex: 0 1 400px;
}

.col-two{
    height: auto;
    text-align: justify;
    padding: 30px;
    font-family: 'Hina Mincho', serif;
    font-size: 1.2rem;
    flex: 0 1 400px;
}

.col-two-btn{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    display: inline-block;
}

.col-two-btn label{
    width: 100px;
    height: 50px;
    border: none;
    background-color: #fff;
}



/* ~~~~~ projects ~~~~~ */
.project-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: wrap;
    flex-wrap: wrap;
    
}

.projects{
    color: #fff;
    text-align: center;
    background-color: #000;
}

.projects.h2
{
    font-family: 'Bebas Neue', cursive;
    padding: 0px;
    margin: 0;
}

.project-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.container-card{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 30px;
    text-align: center;
    flex: 1 1 200px;
    transform-style: preserve-3d;
}

.container-card .face{
    position: absolute;
    transform-style: preserve-3d ;
    transition: 1s ease-in-out;
    height: 100%;
    width: 30%;
    transform: perspective(500px) rotateY(0deg);
    backface-visibility: hidden;
}

.container-card .face.front{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container-card:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}

.container-card .face.back{
    background-color: #000;
    transform: perspective(500px) rotateY(180deg);
    color: #fff;
}
.container-card:hover .face.back{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    padding-top: auto;
    transform: perspective(500px) rotateY(360deg);
}

.container-card .face.back a{
    display: flex;
    align-items: center;
    margin: 20px 5px;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Hina Mincho', serif;
}


/* ~~~~~ Hobbies ~~~~~ */
.hobbie-container{
    width: 100%;
    height: auto;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.hobbie-container h2{
    padding: 20px;
    text-align: center;
    color: #000;
    font-family: 'Bebas Neue', cursive;
}
.con-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon{
    height: 6rem;
    width: 6rem;
    background-color: #fff;
    margin: 10px 25px;
    text-align: center;
    border: solid #000 2px;
    flex: 0 1 6rem;
}

.con-icon .icon:hover{
    /* color: #fff; */
    transition: 0.8s;
    transform: scale(1.1);
    border-radius: 50px;
}

.icon:nth-child(1):hover{
    color: #c65353;
    background: #000;
}

.icon:nth-child(2):hover{
    color: #fff;
    background: #000;
}

.icon:nth-child(3):hover{
    color: #3333ff;
    background: #000;
}

.icon:nth-child(4):hover{
    color: #fff;
    background-color: #000;
}


.icon:nth-child(5):hover{
    color: #80ff80;
    background: #000;
}

.icon:nth-child(6):hover{
    color: #ffcc99;
    background: #000;
}



/* ~~~~~ contact me ~~~~~ */

h2{
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}


.row h4{
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 30px;
    padding-top: 20px;
}



.input-raw{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.input-group{
    flex-basis: 45%;
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    font-family: 'Hina Mincho', serif;
    font-size: 1.2rem;
}

.input-group input,textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    background-color: #000;
    color: #fff;
    margin-bottom: 25px;
}

.input-group button{
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.col-two{
    height: auto;
    text-align: justify;
    padding: 30px;
    font-family: 'Hina Mincho', serif;
    font-size: 1.2rem;
    flex: 0 1 400px;
    
}

.col-two-btn{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    display: inline-block;
}

tr td{
    padding-bottom: 70px;
    font-family: 'Hina Mincho', serif;
    font-size: 1.2rem;
} 

tr td a{
    color: #fff;
    text-decoration: none;
}